/*general*/

@font-face {
  font-family: 'the_wild_things_script';
  src: font-url('the-wild-things-script.otf'); 
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'neutra';
  src: font-url('Neutra2Display-Medium.otf'); 
  font-weight: 400; 
  font-style: normal;
}
@font-face {
  font-family: 'the_wild_things_bold';
  src: font-url('the-wild-things-bold.otf'); 
  font-weight: 400; 
  font-style: normal;
}
@font-face {
  font-family: 'neutra';
  src: font-url('Neutra2Display-Titling.otf'); 
  font-weight: 700; 
  font-style: bold;
}
Neutra2Display-Titling.otf

.fdc { flex-direction: column;}
.third { width: 33%;}
.fw { width: 100%;}
.background-charcoal { background-color: #2f3348; }
.background-pink { background-color: #f6e1d9; }
.background-red {background-color: red;}
.text-white { color: white; }
.text-pink {color: #f6e1d9;}
.text-red {color: red;}
.text-charcoal { color: #2f3348; }

.border-natural { border: 1px solid #f7f5f2; border-radius: 40px; }
.border-light-teal  {
    border: 2px solid #a0dbe3;
/*    border-radius: 20px;*/
}
.border-dark-teal { 
    border: 2px solid #007d84; 
/*    border-radius: 40px; */
}

.index-controls  {
    position: absolute;
    right: 11%;
    margin-top: 2%;
}
.title { font-family: neutra; font-weight: bold; font-size: 14pt; margin-top: 15px !important;}



.new-btn {
    padding: 5px 20px;
/*    border-radius: 4px;*/
    margin-top: 10px;
    font-size: 10pt;
}
.star-wrapper-new {
    text-shadow: 1px 1px lightgray;
    font-size: 24x;
    line-height: 28px;
    margin-bottom: 5px;
    letter-spacing: 5px;
}
.star-wrapper-pdp {
    text-shadow: 1px 1px lightgray;
    font-size: 20px;
    letter-spacing: 5px;
}


.verified { width: 12px; margin-right: 3px; display: inline-block !important; }
.review-wrapper { width: 80%; min-width: 300px; margin:20px auto; }
.fdr { flex-direction: column; align-items: flex-start !important;}
.ttu { text-transform: uppercase; }
h1, h2 ,h3, h4{ 
  font-family: 'the_wild_things_script';
  color: #2d2b26;
  font-weight:  900;
  line-height: 1;
}
 button, span, h5 {
  font-family: 'the_wild_things_bold';
  font-weight:  600;
  color:  #2d2b26;
}
p, li, tr, td, div, pre{ 
  font-family: 'the_wild_things_bold';
  font-weight:  400;
  color: #2d2b26;
}

.accent-padding-tbo { padding-top: 20px; padding-bottom: 20px; }

.three-fourths { width: 75%; align-self: flex-start; }
.new-btn h4 { font-weight: 700}
$purple: #fcf9fd;
$white: #Fff;
$lightgray: lightgray;
$darkgray: #7b8284;
body { 
  margin: 0;
  color: $darkgray;
}
.icon { width: 150px; }
form, input, .decision { color: $darkgray; }
a {color: #2d2b26;}
.tac { text-align: center; }
.vam { vertical-align: middle; }
.ib { display: inline-block; }
.jcc {justify-content: center;}
.text-white { color: #fff; }
.ttl { text-transform: lowercase; }
.flex-container-no, .flex-container{
  display: flex;
  align-items: center;
}
.asfs { align-self: flex-start }
.pagination { text-align: center; }
.nm { margin: 0; }
.nmt { margin-top: 0; }
.nmb { margin-bottom: 0; }
.ma {
  display: block;
  margin: 0 auto;
}
.half-no { width: 50%; }
.subscript { font-size: 22pt; margin: 0; }
a {text-decoration: none;}
.quarter { width: 25%; max-width: 150px; }
.half { width: 50%; }
.tar { text-align: right; }
.accent-section {
  max-width: 1000px;
  margin: 20px auto;
}
.accent-padding.page-header { 
  min-height: 300px;
}
@media only screen and (min-width: 1100px) {
  h1 { font-size: 5vw; } 
  h2 { font-size: 54pt; } 
  h3{ font-size: 26pt; } 
  p, table { font-size: 26pt; } 
  .main { padding: 50px; }
  .main-to { padding: 50px 0;}
  .main-so { padding: 0 50px ;}

}
@media only screen and (min-width: 800px) and (max-width: 1099px) {
  h1 { font-size: 6vw; } 
  h2 { font-size: 47pt; } 
  h3{ font-size: 24pt; } 
  p, table { font-size: 24pt; } 
  .main { padding: 50px; }
  .main-to { padding: 50px 0; }
  .main-so { padding: 0 50px; }


}
@media only screen and (min-width: 800px) {
  .paca-background { background-position: 100px;}
  .review-padding { padding: 50px 100px; align-items: flex-start; }
  .one-third { width: 33%}
  .double-accent-padding { padding: 50px; }
  .two-thirds { width: 66%;}
  .border-light-teal  {
    margin-bottom: 25px;
}
h5 { font-size: 22pt; }

.star-wrapper-new {
    font-size: 32px;
}
}
@media only screen and (max-width: 799px) {
    .double-accent-padding { padding: 25px; }
      .border-light-teal  {
    margin-bottom: 15px;
}
.star-wrapper-new {
    font-size: 24px;
}
  h5 { font-size: 18pt; }

}
@media only screen and (min-width: 589px) and (max-width: 799px) {
  h1 { font-size: 43pt; } 
  h2 { font-size: 45pt; } 
    h3{ font-size: 24pt; } 

  p, table { font-size: 22pt; }
  .main { padding: 25px; }
  .main-to { padding: 25px 0; }
  .main-so { padding: 0 25px; }
  .one-third { min-width: 150px; }
}
@media only screen and (min-width: 589px) {
  .mo { display: none; }
  .accent-padding { padding: 20px; }
  .star-wrapper { margin-left: 5px; }
  .jlogo { 
    width: 200px; 
    vertical-align: middle;
    margin: 10px 20px 0px 20px; 
    float: left;
  }
  .accent-padding.page-header { padding: 50px; }
}
.two-thirds p { line-height: 1.5 }
@media only screen and (max-width: 588px) {
  h1 { font-size: 22pt; } 
  h2 { font-size: 32pt; } 
  h3 { font-size: 18pt; }
  p { font-size: 20pt; }
  .main { padding: 15px 15px 30px 15px; }
  .main-to { padding: 15px 0 30px 0; }
  .main-so { padding: 0 15px; }
  .flex-container { display: block; }
  .useful { padding: 0; }
  .flex-container .half { width: 100%; }
  .do { display: none; }
  .accent-padding { padding: 10px; }
  .half { width: 100%; }
  .jlogo {
    width: 150px;
    vertical-align: middle;
    margin: 10px 10px 0px 10px;
    float: left;
  }
  .accent-padding.page-header { padding: 20px; }
  .paca-background { background-position: -80px bottom; } 
  #staff-favorite-details form, #live-stream-details form, #all-reviews form { text-align: left; }
}
@media only screen and (max-width: 450px) {
  .page-header .half-no:first-of-type { width: 50%; }
  .page-header .half-no:nth-of-type(2n) { width: 60%; }
}
@media only screen and (max-width: 340px) {
  .accent-padding.page-header { padding: 0px; }
}
/*new review*/
.new_review {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 600px;
    textarea{
    width: 100%;
    height: 150px;
    border: 2px solid #ECECEC;
    font-size: 10pt;
    font-family: 'Helvetica';
    padding: 10px;
    box-sizing: border-box;
    background: white;
/*    border-radius: 7px;*/
}
  select, input[type='text'] {
    height: 45px;
    color: $darkgray;
    font-size: 10pt;
    padding: 10px !important;
    border: 2px solid #ECECEC;
    background: white;
    width: 100%;
/*    border-radius: 7px;*/
    box-sizing: border-box;
    -webkit-appearance: none;
    margin: 10px 0;
}
  .button {
    text-align: center;
/*    border-radius: 7px;*/
    box-sizing: border-box;
    background: #2f3348;
    padding: 11px;
    cursor: pointer;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    input {
    font-size: 22pt;
        font-family: 'the_wild_things_bold';
    cursor: pointer;

text-transform: uppercase;
    color: white;
    background: transparent;
    border: none;
    -webkit-appearance:none;

  }
  }
}
  .button:hover {
    background: #f6e1d9;
    input {
    font-size: 22pt;
        font-family: 'the_wild_things_bold';

text-transform: uppercase;
    color: #2f3348;
    background: transparent;
    border: none;
    -webkit-appearance:none;

  }
  }
  input[type=submit] {cursor: pointer;}
#review_author_email{ margin-bottom: 0; }
#rating-wrapper { padding: 10px; }
$unchecked-star: '\2606';
$unchecked-color: #ECECEC;
$checked-star: '\2605';
$checked-color: #f04e4c;
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  * {
    font-size: 1rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  & input {
    display: none;
  
    & + label,  {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      font-size: 16pt;
      margin: 0 2.5px;
      vertical-align: middle;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: $unchecked-star;
        color: $unchecked-color;
      }
    }
    &:checked ~ label:before,
      & + label:hover ~ label:before,
      & + label:hover:before {
      content: $checked-star;
      color: red;
    }
  }
  
  /* the hidden clearer */
  & .star-cb-clear + label  {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  & .star-cb-clear + label:before {
    width: .5em;
  }

  &:hover input + label:before {
    content: $unchecked-star;
    color: $unchecked-color;
    text-shadow: none;
  }
  &:hover input + label:hover ~ label:before,
  &:hover input + label:hover:before {
    content: $checked-star;
    color: red;
  }
}
/*show review*/
#show-review {
  min-height: fit-content;
}
.atf-paca {
    width: 20vw;
    margin-bottom: -51px;
}
.coupon-code { font-family: 'Avenir-Next-Condensed'; text-transform: uppercase;}
.animated-button { background-repeat: no-repeat; background-position: center; }
.animated-button-red {     background-image: image-url('rebrand-cta.svg');
}
  .new-review p.text-red { 
  font-size: 18pt;
  letter-spacing: 2.5px; 
}
.new-review h5.author { font-size: 47pt; }
.review-text, .product-title {
    font-family: 'neutra';
    font-size: 16pt;
}
.review-wrapper-new {
  padding: 30px;
  margin: 30px;
}
/*all reviews*/
.useful {
    font-size: 10pt;
    background: transparent;
    border: none;
    background-image: image-url('stroke.png');
    background-position: 58px 7px;
    background-size: 30%;
    background-repeat: no-repeat;
    width: 90px;
    height: 42px;
    text-align: left;
}
.paca-background {
  background-repeat: no-repeat;
  background-size: contain;
    background-image: image-url('llama.png');
    background-position: bottom right;

}
@media only screen and (max-width: 588px) {
  .paca-background { background-size: 40% !important; }
}

.filled-paca { background-image: image-url('filled.png');
}
/*review dashboard*/
.denial { font-size: 35px; }
.approval { font-size: 20px; }
.decision { background: transparent; border: none; }
#decision-wrapper { 
  margin-right: 20px;
  min-width: fit-content;
}

.btn { 
padding: 0px 10px;
/*border-radius: 4px;*/
border: 1px solid;
cursor: pointer;
}
.edit-btn { border-color: #66cad8}
.delete-btn { border-color: #be1f24}
.archive-btn {
    border-color: #f8b6bd;
    background-color: transparent;
    font-size: 12pt;
    font-family: 'Lexend';
    color: #2d2b26;
}
.archive-form { display: inline-block; margin-left: 5px;}
.display-fav {
    font-weight: lighter;
    font-size: 10pt;
    text-decoration: underline;
    padding: 10px 0;
    cursor: pointer;
}
.rex {
  margin-left: -100px;
  width: 100px;
}
/*user login / registration*/
#error_explanation { 
  text-align: center;
  h2 { font-size: 12pt; }
  ul { text-align: center; 
    li {
      display: block;
      }
  }
 }
.ot-employee form input[type="email"], .ot-employee form input[type="password"] {
    width: 90%;
    font-size: 10pt;
    line-height: 2;
    padding: 10px;
    border: 1px solid #d1cdcd;
    box-sizing: border-box;
    background: white;
/*    border-radius: 10px;*/
    margin: 6px;
    display: block;
    margin: 10px auto;
}
.background-paca { display: block; margin: 0 auto; max-width: 100%; }
.ot-employee form {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 275px;
    max-width: 500px;
}
.border-bottom-gray { border-bottom: 1px solid $darkgray; padding: 2.5px; }
.ot-employee input[type=submit] {
    font-size: 26pt;
    margin: 0;
    line-height: 1;
    letter-spacing: 1px;
    width: 90%;
    padding: 10px;
    color: white;
    display: block;
    margin: 20px auto;
    box-shadow: none;
    border: none;
/*    border-radius: 10px;*/
    -webkit-appearance: none;
    background: #2f3348;
      font-family: 'the_wild_things_bold';
      cursor: pointer;

}
.ot-employee input[type=submit]:hover {

    color: #2f3348;
    background: #f6e1d9;

}
.ot-employee .field .subscript {
    display: inline-block;
    margin-left: 5%;
}
/* nav */
nav { padding: 10px; }
ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
  li {
    display: inline-block;
    margin: 10px 5px;
    vertical-align: middle;
  }
}

@charset 'UTF-8';



/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;

    opacity: .75;
    color: #007D84;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0px;
        background-image:image-url('arrow-back.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
/*    content: image-url('arrow-back.png');*/
}
[dir='rtl'] .slick-prev:before
{
/*    content: image-url('arrow-forward.png');*/
}

.slick-next
{
    right: 0px;
    background-image:image-url('arrow-forward.png');
            background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
/*       content: image-url('arrow-forward.png');*/

}
[dir='rtl'] .slick-next:before
{
/*content: image-url('arrow-back.png');*/

}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
 .main { max-width: 1000px; margin: 0 auto; }
  .desktop-time { font-weight: lighter; margin-left: 10px; }

  #new-review p.text-red { 
  font-size: 18pt;
  letter-spacing: 2.5px; 
}
#new-review h5.author { font-size: 47pt; }
.review-text, .product-title {
    font-family: 'neutra';
    font-size: 16pt;
}
.review-wrapper-new {
  padding: 30px;
  margin: 30px;
}

  #new-review p.text-red { 
  font-size: 18pt;
  letter-spacing: 2.5px; 
}
#new-review h5.author { font-size: 47pt; }
.review-text, .product-title {
    font-family: 'neutra';
    font-size: 16pt;
}
.review-wrapper-new {
  padding: 30px;
  margin: 30px;
}

  #all-reviews p.text-red { 
  font-size: 18pt;
  letter-spacing: 2.5px; 
}
#all-reviews h5.author { font-size: 47pt; }

  #new-review p.text-red { 
  font-size: 18pt;
  letter-spacing: 2.5px; 
}
#new-review h5.author { font-size: 47pt; }
.review-text, .product-title {
    font-family: 'neutra';
    font-size: 16pt;
}
.review-wrapper-new {
  padding: 30px;
  margin: 30px;
}
@media only screen and (max-width: 588px) {
  .new-review .flex-container, .product-title { text-align: center; }
  .product-title { margin-top: 20px; }
  .author { line-height: 40px; }
  .verified-image { margin-left: 0 !important; }
}
