
<style>
 nav { display: none; }
</style>

<div id="show-review">
        <%= image_tag("thank-you.jpg", class: "fw do") %>
                <%= image_tag("thank-you-mobile.jpg", class: "fw mo") %>

</div>

<script>
    $('#show-review').click(function() {
        if (window.location != window.parent.location) {
    window.parent.location = "https://theoliverthomas.com/";
    }
    else {
        window.location = "https://theoliverthomas.com/"
    }
})
    </script>
    <style>
        #show-review { cursor: pointer; }
    </style>