
<style>
 nav { display: none; }
</style>

<div id="show-review">
    <a href="https://theoliverthomas.com/">
        <%= image_tag("thank-you.jpg", class: "fw do") %>
                <%= image_tag("thank-you-mobile.jpg", class: "fw mo") %>

    </a>
</div>